.git
.github
env
venv
.venv
__pycache__
*.pyc
*.pyo
*.exe
*.pt
*.onnx
*.pth
*.index
*.mp3
*.flac
*.ogg
*.m4a
*.bin
*.wav
*.zip
*.safetensors
assets/audios
assets/datasets
assets/config.json
logs
rvc/models
